# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
*.o
*.sdf
*.lo
*.la
*.al
.libs
*.so
*.a
*.pyc
*.pyo
*.rej
*.suo
*.user
*.cache
*.xap
*.log
*.vspcc
*.vspscc
*.vscc
*.vssscc
*~
*.*~
.*.swp
.DS_Store
bin
Bin
obj
Obj
Debug
Release
sql
*.suo
*.user
TestResults
*.Cache
_ReSharper.*
ClientBin
stylecop.*
Bin
pkgobj
pkg
.svn
.builds
~$*
*.dbmdl
web.Publish.xml
coverage
packages
*.docstates
*.bak
ClickOnce.Deployment
*.InstallLog
build/version
src\SDK\packages
/test/net/client/App.Debug.config
/test/net/Scenario/App.Debug.config
test/net/Scenario/App.IncrementVersion.config
test/net/Scenario/App.IncrementVersion.config
test/net/Scenario/App.Coverage.config
test/net/Scenario/App.Release.config
