<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20511.1437" newVersion="4.0.20511.1437" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="MediaServiceAccountKey" value="PUT_YOUR_ACCOUNT_PRIMARY_KEY_HERE" />
    <add key="MediaServiceAccountName" value="PUT_YOUR_ACCOUNT_NAME_HERE" />
    <add key="ClientStorageConnectionString" value="PUT_YOUR_STORAGE_CONNECTION_STRING_HERE" />    
	<!-- Default values used by windows azure media services sdk -->
    <add key="MediaServicesUri" value="https://media.windows.net/" />
    <add key="MediaServicesAcsBaseAddress" value="https://wamsprodglobal001acs.accesscontrol.windows.net" />
    <add key="MediaServicesAccessScope" value="urn:WindowsAzureMediaServices" />
    <add key="MPEncoderName" value="Windows Azure Media Encoder" />
    <add key="MESName" value="Media Encoder Standard" />
    <add key="MPEncryptorName" value="Windows Azure Media Encryptor" />
    <add key="MPPackagerName" value="Windows Azure Media Packager" />
    <add key="MPStorageDecryptorName" value="Storage Decryption" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="WebHookEndPointWithoutEncryption" value="PUT_YOUR_WEBHOOK_ENDPOINT_HERE" />
    <add key="WebHookEndPointWithEncryption" value="PUT_YOUR_WEBHOOK_ENDPOINT_HERE" />
	<add key="TelemetryStorageAccountName" value="PUT_YOUR_ACCOUNT_NAME_HERE" />
    <add key="TelemetryStorageAccountKey" value="PUT_YOUR_ACCOUNT_PRIMARY_KEY_HERE" />
    <add key="AadAuthority" value="https://login.microsoftonline.com"/>
    <add key="AadTenant" value="PUT_YOUR_AAD_TENANT"/>
    <add key="AadClientId" value="PUT_YOUR_AAD_SDK_APP_CLIENTID_FOR_CLUSTER"/>

    <!--Azure Active Directory Graph API endpoint -->
    <add key="ida:GraphResourceId" value="https://graph.windows.net/" />
    <add key="ida:GraphUserUrl" value="https://graph.windows.net/{0}/me?api-version=2013-11-08" />
    <!-- Client ID of registered app In Azure AD-->
    <add key="ida:ClientId" value="Your ClientID here" />
    <!-- Application Key of registered app In Azure AD-->
    <add key="ida:AppKey" value="Your App key" />
    <add key="ida:AADInstance" value="https://login.windows.net/{0}" />
    <!-- Domain name of registered tenant in Azure AD.Example yourcompany.onmicrosoft.com-->
    <add key="ida:Tenant" value="Your Tenant Domain" />
    <!-- FederationMetaDataUri can be obtained from Azure AD portal:Example : https://login.windows.net/dc8337bd-8f52-47d0-a070-4e266774e256/federationmetadata/2007-06/federationmetadata.xml -->
    <add key="ida:FederationMetaDataUri" value="Your Federation Metadata Uri" />

    <add key="app:AppResourceId" value="app:AppResourceId" />
    
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
